RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?panel.tatamba.com$
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app/public/$1
RewriteCond %{HTTP_HOST} ^(www.)?panel.tatamba.com$
RewriteRule ^(/)?$ app/public/index.php [L]
