RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?panel.tatamba.com$
RewriteCond %{REQUEST_URI} !^/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?panel.tatamba.com$
RewriteRule ^(/)?$ public/index.php [L]